<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send messages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>

</head>
<body>
<h1>My messages</h1>
<ul>
    <li th:each="message : ${messageList}">
        <div th:text="'From ' + ${message.getSender().getLogin()}+' to '+ ${message.getRecipient().getLogin()}">Message number</div>
        <div th:text="${message.text}">Message text</div>
    </li>
</ul>
</body>
</html>